{
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "endOfLine": "lf",
    "arrowParens": "always",
    "plugins": ["prettier-plugin-prisma"],
    "overrides": [
        {
            "files": ["*.json"],
            "options": {
                "printWidth": 320
            }
        }
    ]
}
